{{ 'fashionshort.css' | asset_url | stylesheet_tag }}


<div class="fashionshort">
  <div class="heroheader">
    <header class="header">
      <div class="announcement">
        <div class="details-1 container-xs">
          <p class="offer ui text ">
            <span class="offer-span">
              {{ 'sections.fashionshort.offerspan' | t }}</span>
            <span class="offer-span-1">
              {{ 'sections.fashionshort.offerspan1' | t }}</span>
          </p>
          <a href="#">
            {% render 'img_icon', class: "icon_one" %}
          </a>
        </div>
      </div>
      <div class="header-1">
        <div class="details-1 container-xs">
          {% if section.settings.headerlogo_one == blank %}
            {% render 'img_header_logo', class: "headerlogo_one" %}
          {% else %}
            <img
              src="{{section.settings.headerlogo_one | image_url}}"
              alt="headerlogo"
              width="126"
              height="32"
              loading="lazy"
              class="headerlogo_one" />
          {% endif %}
          <ul class="rowhome">
            <li>
              <a href="#">
                <p class="home ui text ">
                  {{ section.settings.home }}</p>
              </a>
            </li>
            <li>
              <a href="#" class="shop-link">
                <p class="shop ui text ">
                  {{ section.settings.shop }}</p>
              </a>
            </li>
            <li>
              <a href="#" class="shop-link">
                <p class="shop ui text ">
                  {{ section.settings.women }}</p>
              </a>
            </li>
            <li>
              <a href="#" class="shop-link">
                <p class="shop ui text ">
                  {{ section.settings.men }}</p>
              </a>
            </li>
            <li>
              <a href="#" class="shop-link">
                <p class="shop ui text ">
                  {{ section.settings.accessories }}</p>
              </a>
            </li>
            <li>
              <a href="#" class="shop-link">
                <p class="shop ui text ">
                  {{ section.settings.aboutus }}</p>
              </a>
            </li>
            <li>
              <a href="#" class="shop-link">
                <p class="shop ui text ">
                  {{ section.settings.contactus }}</p>
              </a>
            </li>
            <li>
              <a href="#" class="shop-link">
                <p class="shop ui text ">
                  {{ section.settings.blog }}</p>
              </a>
            </li>
          </ul>
          <div class="rowsearch_one">
            <a href="#">
              {% render 'img_search', class: "search_one" %}
            </a>
            <a href="#">
              {% render 'img_favorite', class: "search_one" %}
            </a>
            <a href="#">
              {% render 'img_bag', class: "search_one" %}
            </a>
            <a href="#">
              {% render 'img_lock', class: "search_one" %}
            </a>
          </div>
        </div>
      </div>
    </header>
    <div class="herosection">
      <div class="details">
        <button class="flex-row-center-center enjoy_50off_in">
          {% render 'img_icon_blue_gray_900', class: "icon" %}
          <span>
            {{ 'sections.fashionshort.msg_enjoy_50_off_in' | t }}</span>
        </button>
        <h1 class="stepinto ui heading size-s">
          {{ section.settings.stepinto }}</h1>
        <p class="description ui text size-s">
          {{ section.settings.description }}</p>
        <button class="flex-row-center-center shop_now">
          <span>
            {{ 'sections.fashionshort.lbl_shop_now' | t }}</span>
          {% render 'img_frame', class: "frame" %}
        </button>
      </div>
      <img
        src="{% if section.settings.closeupportra == blank %} {{ 'img_close_up_portra.png' | file_url }} {% else %}{{ section.settings.closeupportra | image_url}}{% endif %}"
        alt="closeupportra"
        width="521"
        height="637"
        loading="lazy"
        class="closeupportra" />
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "t:sections.fashionshort.name",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "closeupportra",
        "label": "t:sections.fashionshort.settings.closeupportra"
      },
      {
        "type": "text",
        "id": "stepinto",
        "label": "t:sections.fashionshort.settings.stepinto",
        "default": "Step into Fashion at Your <br />Ultimate Style Destination!"
      },
      {
        "type": "text",
        "id": "description",
        "label": "t:sections.fashionshort.settings.description",
        "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&#39;s standard dummy"
      },
      {
        "type": "text",
        "id": "offer",
        "label": "t:sections.fashionshort.settings.offer",
        "default": "Sign up now and enjoy a 25% discount on your first order. Don&#39;t miss out! Sign up now"
      },
      {
        "type": "image_picker",
        "id": "headerlogo_one",
        "label": "t:sections.fashionshort.settings.headerlogo_one"
      },
      {
        "type": "text",
        "id": "home",
        "label": "t:sections.fashionshort.settings.home",
        "default": "Home"
      },
      {
        "type": "text",
        "id": "shop",
        "label": "t:sections.fashionshort.settings.shop",
        "default": "Shop"
      },
      {
        "type": "text",
        "id": "women",
        "label": "t:sections.fashionshort.settings.women",
        "default": "Women"
      },
      {
        "type": "text",
        "id": "men",
        "label": "t:sections.fashionshort.settings.men",
        "default": "Men"
      },
      {
        "type": "text",
        "id": "accessories",
        "label": "t:sections.fashionshort.settings.accessories",
        "default": "Accessories"
      },
      {
        "type": "text",
        "id": "aboutus",
        "label": "t:sections.fashionshort.settings.aboutus",
        "default": "About Us"
      },
      {
        "type": "text",
        "id": "contactus",
        "label": "t:sections.fashionshort.settings.contactus",
        "default": "Contact Us"
      },
      {
        "type": "text",
        "id": "blog",
        "label": "t:sections.fashionshort.settings.blog",
        "default": "Blog"
      }
    ],
    "presets": [
      {
        "name": "t:sections.fashionshort.presets.name",
        "blocks": []
      }
    ]
  }
{% endschema %}